# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
.venv-rknn/
*.egg-info/

models/*.pt
models/*.onnx
models/*.rknn

/*.pt

# Данные
data/

# БД
*.db

# Jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/
.pytest_cache/

# IDE
.vscode/
.idea/

.uv-cache/
*.docx
*.pdf
*.pptx

